<div class="white-container">
    <div class="top-nav-wrapper">
        <app-top-nav></app-top-nav>
    </div>
    <div class="cover-box-wrapper">
        <app-cover-box></app-cover-box>
    </div>
    <div class="movie-slot-wrapper">
        <div class="slot-heading">
            <span>Top Trending Movies</span>
            <p>See More</p>
        </div>
        <app-movie-slot></app-movie-slot>
    </div>
    <div class="tvshow-slot-wrapper">
        <div class="slot-heading">
            <span>Top Trending TV Shows</span>
            <p>See More</p>
        </div>
        <app-tv-show-slot></app-tv-show-slot>
    </div>
</div>