.white-container {
  background-color: white;
  min-height: stretch;
  max-height: max-content;
  margin: 0 auto;
}

.top-nav-wrapper {
  height: auto;
  margin: 0 auto;
}
.cover-box-wrapper {
  // padding: 2em;
}
