<div class="white-container">
    <div class="top-nav-wrapper">
        <app-top-nav></app-top-nav>
    </div>
    <div class="shop-content-wrapper">
        <div class="prod-list-wrapper col-lg-6">
            <div class="prod-list-header">
                <div class="header">
                    <h1>Product List</h1>
                    <div class="secondary-header">
                        <p>List of all the products</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="price-list-wrapper col-lg-6">
            <div class="price-list-header">
                <div class="header">
                    <h1>Pricing List</h1>
                    <div class="secondary-header">
                        <p>Pricing list of all the products</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>