<div class="cover-box">
    <ngb-carousel *ngIf="cover_photos">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper img-wrapper">
                <img [src]="cover_image" alt="Random first slide">
            </div>
        </ng-template>
        <ng-template ngbSlide *ngFor="let pic of cover_photos">
            <div class="picsum-img-wrapper img-wrapper">
                <img [src]="pic" alt="Random second slide">
            </div>
        </ng-template>
    </ngb-carousel>
</div>